{% extends 'flashcard/layout.html' %}

{% block body %}
<div style="width: 80%; height: 500px;" class="about-page text-light d-flex flex-column justify-content-center align-items-center">
    <h1>Hello, my name is Cao Nguyen</h1>
    <p class="mt-4">This is my final project for my CS50 Web course. The idea came to me when I was studying English using the
        flashcard method using some websites online. But all of them have limitations for free accounts, making me
        uncomfortable. So I decided to build this small web app to service myself :D. At the time I submit this project,
        I think it doesn't have a full function for a learning page but I believe I will complete it someday. Thanks
        for reading.
    </p>
</div>
{% endblock %}